# Build
*.iml
.gradle/
/local.properties
/.idea/
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# Gradle
gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Kotlin
*.class

# Debug
*.hprof
